@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap');

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  /* overflow-x: hidden; */
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.chart-container {
  margin-bottom: 40px;
}

.x-axis path,
.x-axis line {
  fill: none;
  shape-rendering: crispEdges;
  stroke: #000;
  stroke-width: 2px;
  z-index: 1;
}

.x-axis text {
  font-size: 12px;
  fill: #000;
}

.dropdown-menu li a{
  cursor: pointer;
}