@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap');

*{
  max-width: 100vw;
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  /* background-color: #ccc; */
  background-image: url('x.jpeg') ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
color:white;
}
body{
  overflow-x: hidden;
}

.custom-container{
  /* align-content: center; */
  max-width: 90%;
  margin: auto;
}
h1 {
  text-align: center;
  margin-bottom: 30px;
}

.x-axis path,
.x-axis line {
  fill: none;
  shape-rendering: crispEdges;
  stroke: #000;
  stroke-width: 2px;
  z-index: 1;
}

.x-axis text {
  font-size: 12px;
  fill: #000;
}

.dropdown-menu li a{
  cursor: pointer;
}

#networkGraph {
  width: 1000px;
  height: 900px;
}

#barpie {
  width: 1000px;
  height: 900px;
}

#histogram {
  width: 1000px;
  height: 800px;
  display: block;
}

#time-series-chart {
  width: 1000px;
  height: 600px;
  display: block;
  color: white;
}
.link {
    stroke: #999;
    stroke-opacity: 0.6;
}

.employee-name {
    font-size: 12px;
    text-anchor: middle;
}

.bubble {
    fill: lightcoral;
    stroke: #fff;
    stroke-width: 2px;
}

.bubble-label {
    font-size: 12px;
    text-anchor: middle;
}

.connector {
    stroke: #ccc;
    stroke-dasharray: 5,5;
}

.line-to-name {
    stroke: #ccc;
    stroke-dasharray: 5,5;
}

.transaction-bar {
    fill: steelblue;
}

.axis-line {
    stroke: #333;
    stroke-width: 1;
}

.axis-text {
    font-size: 10px;
    fill: #333;
}

